<br />
<br />
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" placeholder="Pesquisa Por numero">
    </div>
    <button type="button" class="btn btn-primary mb-2">Pesquisar</button>
    <button type="button" [routerLink]="['/addpedido']" routerLinkActive="router-link-active"
        class="btn btn btn-success mb-2" style="margin-left: 10px;">Novo Pedido</button>
</form>
<br />
<br />
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">DATA</th>
                <th scope="col">DESCRIÃO</th>
                <th scope="col">STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pedido; let i = index">
                <td>{{p.id}}</td>
                <td>{{p.data}}</td>
                <td>{{p.descricao}}</td>
                <td>{{p.status}}</td>
                <td><button [routerLink]= "['/addpedido',p.id]" routerLinkActive = "router-link-active" class="btn btn-info">+ Detalhes</button></td>
            </tr>
        </tbody>
    </table>
<router-outlet></router-outlet>